<div class="navbar navbar-fixed-top">
     <div class="navbar-inner">
       <div class="container-fluid">
         <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </a>
         <a class="brand" href="#">Stuart Forsyth > Catalogue</a>
         <div class="nav-collapse">
           <ul class="nav">
             <li class="active"><a href="/">Home</a></li>
             <li><%= link_to "About", about_path %></li>
             </ul>
           <p class="navbar-text pull-right">Logged in as <a href="#">username</a></p>
         </div><!--/.nav-collapse -->
       </div>
     </div>
</div>

<div class-"container">

	<h1>Listing products</h1>

	<table>
	 	<% @products.each do |product| %>
	 	<tr class="<%= cycle('list_line_odd', 'list_line_even') %>" >

	 	<td>
	 	<%= image_tag(product.image_url, class: 'list_image') %>
	 	</td>

	 	<td class="list_description" >
	 	<dl>
	 	<dt><%= product.title %></dt>
	 	<dd><%= truncate(strip_tags(product.description),
	 	length: 80) %></dd>
	 	</dl>
	 	</td>

	 	<td class="list_actions" >
	 	<%= link_to 'Show', product %><br />
	 	<%= link_to 'Edit', edit_product_path(product) %><br />
	 	<%= link_to 'Destroy', product,
	 	confirm: 'Are you sure?',
	 	method: :delete %>
	 	</td>
	 	</tr>
	 	<% end %>
	 	</table>

	<br />

	<%= link_to 'New Product', new_product_path %>


</div>