<div class="hero-unit">
	<p id="notice"><%= notice %></p>

	<h1><%= @product.title%></h1>
	<p><%= image_tag(@product.image_url, :style => "float:left;padding:10px;") %><%= sanitize(@product.description)%></p>


	<p>
	<b>Price:</b>
	<%= number_to_currency(@product.price) %> <br/>
	<%= button_to 'Add to Cart', line_items_path(product_id: @product) %>
	</p>
	<p>
	<a href="https://twitter.com/share" class="twitter-share-button" data-text="<%= @product.title%>" data-via="s2rt" data-size="large">Tweet</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</p>

	<%= link_to 'Edit', edit_product_path(@product) %> |
	<%= link_to 'Back', products_path %>
</div>

