<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
  	<title>Stuart Forsyth (.com)</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

	<%= stylesheet_link_tag "bootstrap", :media => "all" %>
	<%= javascript_include_tag "application" %>
	
	<%= javascript_include_tag "bootstrap" %>
  	
	<style type="text/css">
	      	body {
		        padding-top: 60px;
		        padding-bottom: 40px;
		    }
		      .sidebar-nav {
		        padding: 9px 0;
		    }
	
			.products {
		  	table {
		  	border-collapse: collapse;
		  	}
		  	
		  	table tr td {
		  	padding: 5px;
		  	vertical-align: top;
		  	}
		  	
		  	.list_image {
		  	width: 60px;
		  	height: 70px;
		  	}
		  	
		  	.list_description 
			{
		  		width: 60%;
		  	
			  	dl {
			  	margin: 0;
			  	}
		  	
			  	dt {
			  	color: #244;
			  	font-weight: bold;
			  	font-size: larger;
			  	}
		  	
			  	dd {
			  	margin: 0;
			  	}
		  	}
		
		  .list_actions {
		  	font-size: x-small;
		  	text-align: right;
		  	padding-left: 1em;
		  	}
		  	
		  .list_line_even {
		  	background: #e0f8f8;
		  	}
		  	
		  .list_line_odd {
		  	background: #f8b0f8;
		  	}
	</style>

	<%= stylesheet_link_tag    "bootstrap-responsive", :media => "all" %>
	<%= csrf_meta_tags %>
	
</head>
<body>

	<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
	<div class="container-fluid">
	<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	</a>
	<a class="brand" href="#">Stuart Forsyth (.com)</a>
	<div class="nav-collapse">
	<ul class="nav">
	<li class="active"><a href="/">Home</a></li>
	<li><%= link_to "About", about_path %></li>
	</ul>
	<p class="navbar-text pull-right">Logged in as <a href="#">Stuart</a></p>
	</div><!--/.nav-collapse -->
	</div>
	</div>
	</div>

	<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">
			<div class="well sidebar-nav">
				<ul class="nav nav-list">
				<li class="nav-header">In a sentence</li>
				<li>Player of games, juggler or words, writer, technology pundit and mostly sentient primate.</li>
				<li><br>
				<%= image_tag("stuartprofile.jpg") %></li>


				<li class="nav-header">Social</li>
				<!--<li class="active"><a href="#">Link</a></li>-->
				<li> <a href="https://twitter.com/s2rt" class="twitter-follow-button" data-show-count="false">Follow @s2rt on Twitter</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></li>
				<li><a href="http://stuartforsyth.tumblr.com/" target="_blank">Tumblr</a></li>
				<li><a href="https://plus.google.com/101822104326818004121/posts" target="_blank">Google+</a></li>
				<li class="nav-header">Feedback</li>
				<li><a href="http://stuartforsyth.tumblr.com/ask" target="_blank">Ask me a question</a></li>
				</ul>
			</div><!--/.well -->
		</div><!--/span-->

	<div class="span7">

<%= yield %>

</div><!--/span-->

<div class="span2">
	<div class="well sidebar-nav">
		<div id="cart">
		<%= render @cart%>
		</div>
	</div>
</div>
</div><!--/row-->

<hr>

<footer>
<p>&copy; Company 2012</p>
</footer>

</div><!--/.fluid-container-->

<!-- Le javascript

  <!-- Placed at the end of the document so the pages load faster -->
 <%= javascript_include_tag "jquery" %>


<!--
  <script src="../assets/js/bootstrap-transition.js"></script>
  <script src="../assets/js/bootstrap-alert.js"></script>
  <script src="../assets/js/bootstrap-modal.js"></script>
  <script src="../assets/js/bootstrap-dropdown.js"></script>
  <script src="../assets/js/bootstrap-scrollspy.js"></script>
  <script src="../assets/js/bootstrap-tab.js"></script>
  <script src="../assets/js/bootstrap-tooltip.js"></script>
  <script src="../assets/js/bootstrap-popover.js"></script>
  <script src="../assets/js/bootstrap-button.js"></script>
  <script src="../assets/js/bootstrap-collapse.js"></script>
  <script src="../assets/js/bootstrap-carousel.js"></script>
  <script src="../assets/js/bootstrap-typeahead.js"></script>
-->
</body>
</html>
